h1{
    text-align: left;
}
h2{
    text-align: center;

}
/*
footer para o Copyrigth
*/
footer {
    color: #141313; /* Cor do texto no rodapé */
    padding: 20px; /* Espaçamento interno do rodapé */
    text-align: left; /* Alinhar o texto à esquerda no rodapé */
    position: fixed; /* Fixar o rodapé na parte inferior da janela */
    left: 0;
    bottom: 0;
    width: 100%; /* Largura total */
    background-color: #f0f0f0; /* Cor de fundo do rodapé */
  }
  .caixa-cinza {
    background-color: #cccccc; /* Define a cor de fundo como cinza */
    padding: 20px; /* Adiciona um espaçamento interno de 20 pixels */
    border-radius: 5px; /* Adiciona cantos arredondados */
}
