/* estilo.css */

/* Defina o estilo para o corpo do documento meuDia.html */
body{
    text-align: center;
}
.container {
    display: flex;
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
    height: 200; /* Define a altura para ocupar toda a altura da viewport */
}

img {
    max-width: 150%; /* Garante que a imagem não ultrapasse a largura máxima do seu contêiner */
    max-height: 150%; /* Garante que a imagem não ultrapasse a altura máxima do seu contêiner */
}
/*
footer para o Copyrigth
*/
footer {
  color: #141313; /* Cor do texto no rodapé */
  padding: 20px; /* Espaçamento interno do rodapé */
  text-align: left; /* Alinhar o texto à esquerda no rodapé */
  position: fixed; /* Fixar o rodapé na parte inferior da janela */
  left: 0;
  bottom: 0;
  width: 100%; /* Largura total */
  background-color: #f0f0f0; /* Cor de fundo do rodapé */
}

h1{
  background-color: green;
}

/* Defina o estilo para pores a letra toda em branca 
 */
h1 {
  color: white;
  text-align: center;
  padding: 5px;
}
h2 {
    color: white;
    text-align: center;
    padding: 5px;
  }
  