table {
    caption-side: left;
    font: 14px “Comic Sans MS”;}
    caption {
    font-size: 
    18px;  
    font-weight: 
    bold;}
    tr {
    color: blue;}
    th {
    font-style: italic;
    text-decoration: underline;}
    td {
    background-color: 
    yellow;  text-align: 
    right;}
     /*  caixa simples conceito básico */
     .caixa {
        width: 200px;
        height: 200px;
        background-color: lightblue;
        border: 2px solid blue;
        padding: 20px;
        text-align: center;
        margin: 20px;
        float: left;
     }
